In [1]:
import pandas as pd


df = pd.read_csv("/content/Online Sales Data.csv")


filtered_df = df[df['Total Revenue'] > 1000]


df_dropped = df.dropna()


summary_stats = df.describe()
mean_TotalRevenue= df['Total Revenue'].mean()
median_TotalRevenue = df['Total Revenue'].median()
std_TotalRevenue = df['Total Revenue'].std()

print("Filtered DataFrame:")
print(filtered_df)
print("\nSummary Statistics:")
print(summary_stats)
print(f"\nMean Total Revenue: {mean_TotalRevenue}")
print(f"Median Total Revenue: {median_TotalRevenue}")
print(f"Standard Deviation of Total Revenue: {std_TotalRevenue}")

Filtered DataFrame:
     Transaction ID        Date Product Category  \
0             10001  2024-01-01      Electronics
6             10007  2024-01-07      Electronics
7             10008  2024-01-08  Home Appliances
12            10013  2024-01-13      Electronics
35            10036  2024-02-05           Sports
36            10037  2024-02-06      Electronics
37            10038  2024-02-07  Home Appliances
42            10043  2024-02-12      Electronics
66            10067  2024-03-07      Electronics
72            10073  2024-03-13      Electronics
85            10086  2024-03-26  Home Appliances
102           10103  2024-04-12      Electronics
120           10121  2024-04-30      Electronics
132           10133  2024-05-12      Electronics
138           10139  2024-05-18      Electronics
162           10163  2024-06-11      Electronics
216           10217  2024-08-04      Electronics

                          Product Name  Units Sold  Unit Price  Total Revenue  \
0                        iPhone 14 Pro           2      999.99        1999.98
6                  MacBook Pro 16-inch           1     2499.99        2499.99
7                 Blueair Classic 480i           2      599.99        1199.98
12               Samsung Galaxy Tab S8           2      749.99        1499.98
35                        Peloton Bike           1     1895.00        1895.00
36                Apple Watch Series 8           3      399.99        1199.97
37                          Roomba i7+           2      799.99        1599.98
42                  GoPro HERO10 Black           3      399.99        1199.97
66                  Samsung QLED 4K TV           1     1199.99        1199.99
72              HP Spectre x360 Laptop           1     1599.99        1599.99
85                          LG OLED TV           2     1299.99        2599.98
102                Canon EOS R5 Camera           1     3899.99        3899.99
120                     Apple iPad Air           2      599.99        1199.98
132         Microsoft Surface Laptop 4           1     1299.99        1299.99
138  Samsung Odyssey G9 Gaming Monitor           1     1499.99        1499.99
162                  Apple MacBook Air           1     1199.99        1199.99
216          Apple MacBook Pro 16-inch           1     2399.00        2399.00

            Region Payment Method
0    North America    Credit Card
6    North America    Credit Card
7           Europe         PayPal
12   North America    Credit Card
35            Asia    Credit Card
36   North America    Credit Card
37          Europe         PayPal
42   North America    Credit Card
66   North America    Credit Card
72   North America    Credit Card
85          Europe         PayPal
102  North America    Credit Card
120  North America    Credit Card
132  North America    Credit Card
138  North America    Credit Card
162  North America    Credit Card
216  North America    Credit Card

Summary Statistics:
       Transaction ID  Units Sold   Unit Price  Total Revenue
count       240.00000  240.000000   240.000000     240.000000
mean      10120.50000    2.158333   236.395583     335.699375
std          69.42622    1.322454   429.446695     485.804469
min       10001.00000    1.000000     6.500000       6.500000
25%       10060.75000    1.000000    29.500000      62.965000
50%       10120.50000    2.000000    89.990000     179.970000
75%       10180.25000    3.000000   249.990000     399.225000
max       10240.00000   10.000000  3899.990000    3899.990000

Mean Total Revenue: 335.699375
Median Total Revenue: 179.97
Standard Deviation of Total Revenue: 485.8044685651321